{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-empty-function": [
      2,
      {
        "allow": ["private-constructors"]
      }
    ],
    "@typescript-eslint/naming-convention": [
      2,
      {
        "selector": "function",
        "format": ["camelCase"]
      }
    ]
  }
}
